* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: ASH;
  src: url("font/N.otf");

}

@font-face {
  font-family: ASH;
  src: url("font/M.otf");

}

.container {
  font-family: ASH;
  src: url("font/N.otf");
}

h1 {
  font-family: ASH;
  src: url("font/M.otf");
}

button {
  padding: 8px;
  width: 100px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s ease-out;
}

button:hover {
  transform: scale(1.05);
}

.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.pages {
  box-sizing: border-box;
}

.page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  transition: all 0.7s;
  color: white;
}

.one {
  width: 100%;
  height: 100vh;
  min-width: 1000px;
  background: url(img/1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
}

.two {
  width: 100%;
  height: 100vh;
  min-width: 1000px;
  background: url(img/2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
}

.three {
  width: 100%;
  height: 100vh;
  min-width: 1000px;
  background: url(img/3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
}

.four {
  width: 100%;
  height: 100vh;
  min-width: 1000px;
  background: url(img/4.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
}

.five {
  width: 100%;
  height: 100vh;
  min-width: 1000px;
  background: url(img/5.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
}

#fifthtitle {
  color: rgb(255, 0, 0);
}

.six {
  width: 100%;
  height: 100vh;
  min-width: 1000px;
  background: url(img/6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
}

#sixthtitle {
  color: rgb(38, 0, 255);
}

.seven {
  width: 100%;
  height: 100vh;
  min-width: 1000px;
  background: url(img/7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
}

.eight {
  width: 100%;
  height: 100vh;
  min-width: 1000px;
  background: url(img/8.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
}

.nine {
  width: 100%;
  height: 100vh;
  min-width: 1000px;
  background: url(img/9.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
}

.ten {
  width: 100%;
  height: 100vh;
  min-width: 1000px;
  background: url(img/3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
}

.end {
  width: 100%;
  height: 100vh;
  min-width: 1000px;
  background: url(img/2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
}

.bye {
  width: 100%;
  height: 100vh;
  min-width: 1000px;
  background: url(img/1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
}

.thetitle {
  background: linear-gradient(to right, red, rgb(255, 81, 0), rgb(255, 166, 0), red);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cotitle {
  background: linear-gradient(to right, rgb(255, 251, 121), rgb(232, 215, 30), rgb(235, 239, 17), rgb(238, 250, 20));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.count {
  background: linear-gradient(to right, rgb(222, 52, 10), rgb(255, 251, 121), rgb(238, 250, 20), rgb(239, 35, 17));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

audio {
  display: none;
}