* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/bg.jpg);
    background-size: cover;
    overflow: hidden;
}

#main {

    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#click-section {
    width: 35%;
    height: 100%;
    padding: 20px 0;
    position: relative;
}

#drawerboxes {
    margin-left: 10%;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#drawerboxes::before {
    content: "";
    width: 8px;
    height: 94%;
    position: absolute;
    left: -10px;
    top: 3%;
    z-index: 120;
}

.drawerbox {
    height: calc(100% / 5.5);
    width: 70%;
    position: relative;
    z-index: 100;
    transform: translateX(-70%);
    transition: transform .5s ease-in-out;
}

.drawerbox.active {
    transform: translateX(0);
}

.drawer-btn {
    width: 100%;
    height: 100%;
    font: 800 30px '';
    background-color: rgb(175, 190, 255);
    border: none;
    transition: background-color .5s ease-in-out;
    color: #ffffff00;
}

.drawer-btn.active {
    background-image: url(img/bg.jpg);
    background-size: cover;
    color: rgb(70, 100, 180);
}

.drawer-btn:hover {
    cursor: pointer;
}

.drawer-head {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 200px;
    font-weight: 700;
    right: -38px;
    top: calc(50% - 135px);
    text-shadow: 2px -1px 8px rgba(250, 80, 193, 0.323);
}

#slide-section {
    position: relative;
    height: 100%;
    width: 65%;
    display: flex;
    justify-content: center;
    padding: 0 40px;
    background: linear-gradient(to right bottom,
            rgba(255, 255, 255, .6),
            rgba(255, 255, 255, .3),
            rgba(255, 255, 255, .2));
    backdrop-filter: blur(11px);
}

#slide-bar {
    position: absolute;
    top: 10%;
    left: 40px;
    height: 80%;
    width: 1px;
    background-color: rgb(223, 223, 223);
}

#bar {
    position: absolute;
    height: calc(100% / 4);
    width: 5px;
    top: 0;
    left: -1.2px;
    background-color: rgb(175, 190, 255);
    transition: transform .5s ease-in-out;
}

#card-section {
    height: 100%;
    width: 80%;
    overflow: visible;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 10% 0;
    color: white;
    font-size: 30px;
    transition: transform .5s ease-in-out;
}

.card-small-title {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: min(5%, 10px);
    color: rgb(70, 100, 180);
}

.card-title {
    font-size: 80px;
    font-weight: 700;
    padding-bottom: min(20%, 40px);
    color: rgb(70, 100, 180);
}

.card-content {
    font-size: 24px;
    font-weight: 400;
    color: rgb(94, 123, 255);
    margin-bottom: 60px;
}

.card-img {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.card-img img {
    width: 100%;
}

button {
    padding: 8px;
    width: 100px;
    border: 2px solid rgb(58, 58, 218);
    background-color: transparent;
    color: rgb(94, 123, 255);
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease-out;
    text-align: center;
}

button:hover {
    transform: scale(1.05);
}

.button {
    margin-left: auto;
    margin-right: auto;
}

.toSF {
    background: linear-gradient(to right, red, rgb(255, 81, 0), rgb(255, 166, 0), red);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.a {
    margin-left: auto;
    margin-right: auto;
    font-size: 0.6em;
    text-decoration: none;
}

a {
    text-decoration: none;
}